%h1 Todo list
%table
  %thead
    %tr
      %th Title
  %tbody
    - @todo_lists.each do |todo_list|
      %tr
        %td= todo_list.title
        %td= link_to 'Show', todo_list
        %td= link_to 'Edit', edit_todo_list_path(todo_list)
        %td= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Todo list', new_todo_list_path
